**

!.kube      
!.kube/**     
!.tmux      
!.tmux/**       
!.zshrc     
!.zshrc/**     
!.oh-my-zsh 
!.oh-my-zsh/** 
!.config   
!.config/**    
!.zplug     
!.zplug/**     
!.ssh       
!.ssh/**       
!.gitconfig 
!.gitconfig/** 
!.local/share/chezmoi 
!.local/share/chezmoi/** 
!dotfiles
!dotfiles/**  
!.zshrc
!.gitconfig
!.tmux.conf